


[submodule ".\\vendor\\json"]
	path = .\\vendor\\json
	url = https://github.com/nlohmann/json.git
[submodule ".\\vendor\\fmt"]
	path = .\\vendor\\fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
